/* Navbar */

.navbar-brand {
    font-family: "Viga";
    font-size: 25px;
}

/* Desktop Verison */

@media (min-width: 992px) {
    .nav-link {
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .btn-rounded {
        border-radius: 50px;
    }
}
/* End of Navbar section */

/* Jumbotron Section */

.jumbotron {
    background-image: url("images/notes-macbook-study-conference-7102.jpg");
    background-size: cover;
    height: 600px;
}



